<h1>Users</h1>

<% unless @sent_requests.empty? %>
  <div id="sent">
    <h2>Sent Requests</h2>
    <% @sent_requests.each do |user| %>
      <div class="user">
        <%= link_to user.name, user_path(user) %>
        <%= button_to "Delete", delete_request_user_friendships_path(user), method: :get %>
      </div>
    <% end %>
  </div>
<% end %>

<% unless @received_requests.empty? %>
  <div id="received">
    <h2>Received Requests</h2>
    <% @received_requests.each do |user| %>
      <div class="user">
        <%= link_to user.name, user_path(user) %>
        <%= button_to "Confirm", confirm_request_user_friendships_path(user), method: :get %>
        <%= button_to "Delete", delete_request_user_friendships_path(user), method: :get %>
      </div>
    <% end %>
  </div>
<% end %>

<div id="users">
  <h2>Add a Friend</h2>
  <% @users.each do |user| %>
    <% if current_user.id != user.id %>
      <% unless @friends.exists?(id: user.id) || @sent_requests.exists?(id: user.id) || @received_requests.exists?(id: user.id) %>
        <div class="user">
          <%= link_to user.name, user_path(user) %>
          <%= button_to "Add Friend", user_friendships_path(user) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
