<div>
  <%= link_to "Back to users", users_path %>
</div>

<%= render @user %>

<% unless @notifications.empty? %>
  <h2>Notifications</h2>
  <% @notifications.each do |notification| %>
    <%= render 'notification', notification: notification %>
  <% end %>
<% end %>

<h2>Posts</h2>
<%= render @user.posts %>

<h2>Friends</h2>
<%= render @user.friends %>
