<div class="post">
  <%= render 'shared/body', item: post %>
  <%= render 'shared/buttons', item: post %>

  <div>
    <h2>Comments</h2>
    <%= render post.comments %>
    <%= form_with model: [post, Comment.new] do |form| %>
      <%= render "comments/form", form: form %>
    <% end %>
  </div>
</div>
